<div class="YY-CARD_WHITE" style="position: relative; max-width: 980px; width: 100%;">
  <button type="button" class="YY-BUTTON_MAIN" data-yy-modal-close
          style="position:absolute; top:10px; right:10px;">
    ✕
  </button>

  <div class="YY-TEXT-BOLD">{{ task.title }}</div>
  <div class="YY-TEXT-BOLD">{{ title }}:</div>

  <div style="max-height: 70vh; overflow-y: auto; border-top: 1px solid #71d0f4;border-bottom: 1px solid #71d0f4; padding: 5px 15px 5px 0;">
    {% if status == "running" %}
      <div class="YY-TEXT">В обработке</div>
    {% elif status == "empty" %}
      <div class="YY-TEXT">Нет данных</div>
    {% else %}
      {% for item in items %}
        <div class="flex justify-between py-1">
          <span>{{ item.value_text }}</span>
          <span>{{ item.rate }}</span>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
