<!-- FILE: web/templates/panels/aap_audience/status.html -->
<!-- DATE: 2025-12-29 -->

{% extends "panels/base.html" %}
{% load i18n %}

{% block content %}

<table class="YY-MAIN_TABLE">
  <tr>
    <td class="YY-MAIN_BOTTOM_TD">
      {% if tasks %}
        <div class="YY-MAIN_BOTTOM_DIV">

          <table class="w-full text-left">
            <thead>
              <tr class="YY-TH_TR">
                <th class="YY-TH_TH w-[50%]">{% trans "Аудитория" %}</th>
                <th class="YY-TH_TH w-[50%]">{% trans "Критерии" %}</th>
                <th class="YY-TH_TH">{% trans "Статус" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for t in tasks %}
                <tr class="YY-TB_TR align-top">
                  <td class="YY-TB_TD">

                    {% if t.type == "sell" %}
                      <div class="YY-STATUS_GREEN mb-3">
                        {% trans "Поиск клиентов" %}
                      </div>
                    {% else %}
                      <div class="YY-STATUS_YELLOW mb-3">
                        {% trans "Поиск поставщиков / подрядчиков" %}
                      </div>
                    {% endif %}

                    <div class="mb-3 font-semibold">
                      {{ t.title }}
                    </div>
                    <div>
                      {{ t.task }}
                    </div>

                  </td>
                  <td class="YY-TB_TD">
                    <div data-tabs="choice-{{ t.id }}">
                      <div class="flex gap-3 mb-3">
                        <button type="button"
                          data-tab="client"
                          data-active-class="YY-BUTTON_GREEN"
                          data-idle-class="YY-BUTTON_MAIN"
                          class="YY-BUTTON_GREEN">
                            {% if t.type == "sell" %}
                              {% trans "Клиент" %}
                            {% else %}
                              {% trans "Поставщик" %}
                            {% endif %}
                        </button>

                        <button type="button"
                          data-tab="branches"
                          data-active-class="YY-BUTTON_GREEN"
                          data-idle-class="YY-BUTTON_MAIN"
                          class="YY-BUTTON_MAIN">
                          {% trans "Категории" %}
                        </button>

                        <button type="button"
                          data-tab="geo"
                          data-active-class="YY-BUTTON_GREEN"
                          data-idle-class="YY-BUTTON_MAIN"
                          class="YY-BUTTON_MAIN">
                          {% trans "География" %}
                        </button>
                      </div>

                      <div data-panel="client">
                        {{ t.task_client|linebreaksbr }}
                      </div>
                      <div data-panel="branches" class="hidden">
                        {{ t.task_branches|linebreaksbr }}
                      </div>
                      <div data-panel="geo" class="hidden">
                        {{ t.task_geo|linebreaksbr }}
                      </div>
                    </div>
                  </td>
                  
                  <td class="YY-TB_TD">

                    <div class="YY-STATUS_GREEN w-full mb-2">
                      {% trans "Контакты: присвоен рейтинг" %}: {{ t.contacts_rated }}
                    </div>

                    <div class="YY-STATUS_GRAY w-full mb-12">
                      {% trans "Всего собрано контактов" %}: {{ t.contacts_total }}
                    </div>

                    <a href="task/?id={{ t.ui_id }}"
                       class="YY-BUTTON_TAB_MAIN">
                      {% trans "Смотреть / управлять" %}
                    </a>

                  </td>

                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      {% else %}
        <div class="YY-CARD_WHITE mb-10">
          {% trans "Здесь пока нет данных" %}
        </div>
      {% endif %}
    </td>
  </tr>
</table>

{% endblock %}
