/* FILE: web/static/css/panel.css */
.ui-icon {
  transform: translateY(0);
}

input[aria-invalid="true"],
textarea[aria-invalid="true"],
select[aria-invalid="true"] {
  border-color: #f3a7a7 !important; /* red */
  outline: 0;
}

.yy-loading {
  position: fixed;
  inset: 0;
  z-index: 9999;
}

.yy-loading__backdrop {
  position: absolute;
  inset: 0;
  background: rgba(2, 42, 57, 0.25);
  backdrop-filter: blur(2px);
}

.yy-loading__box {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}

.yy-loading__spinner {
  width: 64px;
  height: 64px;
  border-radius: 999px;
  border: 6px solid rgba(255, 255, 255, 0.45);
  border-top-color: rgba(255, 255, 255, 0.95);
  animation: yy-spin 0.9s linear infinite;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

@keyframes yy-spin {
  to { transform: rotate(360deg); }
}

.yy-modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
}

.yy-modal.hidden {
  display: none;
}

.yy-modal_backdrop {
  position: absolute;
  inset: 0;
  background: rgba(5, 112, 235, 0.055);
}

.yy-modal_card_wrap {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  pointer-events: none;
}

.yy_modal_card {
  pointer-events: auto;   /* ← КЛЮЧЕВОЕ */
  position: relative;     /* для кнопки закрыть внутри */
}

.bg-10{
  background: #e0fbdd !important;
}

.bg-20{
  background: #eaffe8 !important;
}

.bg-30{
  background: #f5fff4 !important;
}

.bg-40{
  background: #fffdf2 !important;
}

.bg-50{
  background: #fef9e5 !important;
}

.bg-60{
  background: #fef6d5 !important;
}

.bg-70{
  background: #fff3c0 !important;
}

.bg-80{
  background: #ffebe0 !important;
}

.bg-90{
  background: #ffddca !important;
}

.bg-100{
  background: #ffd0b6 !important;
}

