{% load i18n %}
<div class="YY-CARD_WHITE overflow-hidden" style="max-height:85vh;width:620px;">
  <button type="button" class="YY-BUTTON_MAIN !w-fit" data-yy-modal-close style="position:absolute;top:10px;right:10px;">✕</button>

  <div class="overflow-auto mt-10 mb-1 max-h-[calc(85vh-5rem)]">
    {% if status == "ok" %}
      <div class="YY-STATUS_YELLOW !mb-3">{% trans "Отправить кампанию в архив?" %}</div>

      <div class="YY-CARD_WHITE border border-[#71d0f4]">
        {% if title %}
          <div class="YY-TEXT !mb-0">{{ title|linebreaksbr }}</div>
        {% else %}
          <div class="YY-TEXT !mb-0">{% trans "Без названия" %}</div>
        {% endif %}
      </div>

      <form method="post" action="{% url 'campaigns:campaigns' %}" class="mt-4">
        {% csrf_token %}
        <input type="hidden" name="action" value="archive">
        <input type="hidden" name="id" value="{{ ui_id }}">
        <div class="grid grid-cols-2 gap-4">
          <button type="submit" class="YY-BUTTON_MAIN_FULL">{% trans "В архив" %}</button>
          <button type="button" class="YY-BUTTON_MAIN_FULL" data-yy-modal-close>{% trans "Отмена" %}</button>
        </div>
      </form>
    {% else %}
      <div class="YY-STATUS_GRAY w-full">{% trans "Здесь пока нет данных" %}</div>
    {% endif %}
  </div>
</div>
